extends layout

block content
  h1= title + ': ' + book.name
  
  p Willst du dieses Buch wirklich löschen?

  form(method='POST' action='')
    div.form-group
      input#bookid.form-control(type='hidden', name='bookid', required='true', value=book._id )

    button.btn.btn-primary(type='submit') Löschen